extends ../layouts/slidebar

block content
    .container     
        .wrapper-changepwd
            a#back(href='/about') Quay lai
            form#name-log1
                label.lb-pwd(for='') tên đăng nhập
                input(type='text', disabled="disabled", value="hoangan123")
            form#pwd-new
                label.lb-pwd(for='pwd') Mật khẩu mới
                input#pwd(type='password', placeholder="Nhập mật khẩu mới...")
                i#eye.fas.fa-eye

            form#pwd-again
                label.lb-pwd(for='pwd') Nhập lại mật khẩu
                input#pwdTwo(type='password', placeholder="Nhập lại mật khẩu...")
                i#eyeTwo.fas.fa-eye
            a#save(href='#') Lưu thay đổi
            a#cancer(href='/about') Hủy bỏ     
    script(src="/javascript/password.js")






