extends ../layouts/slidebar

mixin topic(topicData)
    .topic= topicData.topic
mixin link(link)
    td= link.td
mixin status(stt)
    td= stt.td
                  
//- head
//-     script(src="/javascript/show-exe-of-topic.js")
//- body
block content    
    .container     
        .wrapper-exe
            a#back(href='/about') Quay lai
            .all-topic
                button.tablinks.active(onclick="openTopic(event, 'HTML')") HTML
                button.tablinks(onclick="openTopic(event, 'CSS')") CSS
                button.tablinks(onclick="openTopic(event, 'JavaScript')") JavaScript
                button.tablinks(onclick="openTopic(event, 'JavaScript')") Bootstrap
                button.tablinks(onclick="openTopic(event, 'JavaScript')") ExpressJS
            #HTML.tabcontent(style='display:block')
                table.showOneTopic
                    tr.spaceUnder
                        th STT
                        th Chu de
                        th Link
                        th Trang thai
                    tr.spaceUnder
                        td 1
                        td HTML
                        td https://thisislink.example.xyz
                        td Chua cham
                    tr.spaceUnder
                        td 1
                        td HTML
                        td https://thisislink.example.xyz
                        td Chua cham
                    tr.spaceUnder
                        td 1
                        td HTML
                        td https://thisislink.example.xyz
                        td Chua cham                                                                
            #CSS.tabcontent
                table.showOneTopic
                    tr.spaceUnder
                        th STT
                        th Chu de
                        th Link
                        th Trang thai
                    tr.spaceUnder
                        td 1
                        td CSS
                        td https://thisislink.example.xyz
                        td Chua cham
                    tr.spaceUnder
                        td 1
                        td CSS
                        td https://thisislink.example.xyz
                        td Chua cham
                
            #JavaScript.tabcontent
                table.showOneTopic
                    tr.spaceUnder
                        th STT
                        th Chu de
                        th Link
                        th Trang thai
                    tr.spaceUnder
                        td 1
                        td JavaScript
                        td https://thisislink.example.xyz
                        td Chua cham
                    tr.spaceUnder
                        td 1
                        td JavaScript
                        td https://thisislink.example.xyz
                        td Chua cham
                    tr.spaceUnder
                        td 1
                        td JavaScript
                        td https://thisislink.example.xyz
                        td Chua cham
                



    button#btnOnTop(onclick='topFunction()', title='Go to top')
        i.fas.fa-chevron-up

   

    script(src="/javascript/show-exe-of-topic.js")   
    script(src="/javascript/uploadAvt.js")          
