extends ../layouts/slidebar


block content
    .container     
        .wrapper-info
            a#back(href='/about') Quay lai
            form#my-name
                label(for='name') họ và tên
                input#name(type='text',placeholder="Nhập họ tên bạn...")
            form#name-log
                label(for='') tên đăng nhập
                input(type='text', disabled="disabled", value="hoangan123")
            form#birthday
                label(for='') ngày sinh
                input#birth(type='date')
            form#phone
                label(for='ph') số điện thoại
                input#ph(type='number',placeholder="Nhập số điện thoại...")
            form#email
                label email
                input(type='text',disabled="disabled", value="hoangan@coder.com")
            a#save-info(href='#') Lưu thay đổi








