* {
    font-family: Helvetica, sans-serif;
    transition: .2s;
}

/* CSS SLIDEBAR BEN TRAI */
.slidebar-left {
    width: 320px;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: rgb(255, 255, 255);
    position: fixed !important;
}

/* CSS ANH DAI DIEN */
.my-avatar {
    width: 200px;
    height: 200px;
    position: absolute;
    top: 20px;
    border-radius: 50%;
    border: 4px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 14px 1px #b1b1b1;
    overflow: hidden;
    transition: .3s;
    background-color: rgb(249, 249, 249);
}
        .my-avatar img {
            border-radius: 50%;
            width: 190px;
            height: 190px;
            top: 0;
        }

        .my-avatar i {
            position: absolute;
            font-size: 40px;
            color: #808080;
            opacity: 0;
            transform: scale(-1);
        }
            .my-avatar:hover i {
                opacity: 1;
                transform: scale(1);
            }

        .my-avatar:before {
            content: '';
            position: absolute;
            border-radius: 50%;
            background-color: #ffffffcf;
            width: 190px;
            height: 190px;
            opacity: 0;
        }
            .my-avatar:hover:before {
                opacity: 1;
            }



    /* CSS 3 CHUC NANG */
.my-info, .change-password, .exercise-done, .my-point {
    position: absolute;
    width: 320px;
    height: 60px;
    margin: 0;
    border: 1px solid rgb(214, 214, 214);
    display: flex;
    justify-content: center;
    align-items: center;
    color: #515151;
    text-shadow: 0 0 0 0 #000;
    text-transform: uppercase;
    background-color: rgb(249, 249, 249);
}

    .my-info i, .change-password i, .exercise-done i, .my-point i  {
        position: absolute;
        left: 10px;
        color: #696969;
    }

/* CSS TAG A */
    a:link, a:visited {
        text-decoration: none;
        color: #515151;
    }
    a:active {
        color: #1c1c1c;
    }



/* HOVER TAG A */
.my-info:hover a {
    text-shadow: 1px 1px 4px #737373;

}
.change-password:hover a {
    text-shadow: 1px 1px 4px #737373;

}
.exercise-done:hover a {
    text-shadow: 1px 1px 4px #737373;
}

/* VI TRI 3 CHUC NANG */
    
    /* THONG TIN CA NHAN */
    .my-info {
        top: 230px;
    }

    /* DOI MAT KHAU */
    .change-password {
        top: 291px;
    }

    /* BAI TAP DA LAM */
    .exercise-done {
        top: 352px;
    }

    /* DIEM */
    .my-point {
        top: 300px;
        height: 90px;
        display: flex;
        flex-direction: column;
        background-color: rgb(249, 249, 249);
    }
    #my-score {
        font-weight: 600;
        font-size: 23px;
        font-family: 'Courier New', Courier, monospace;
        margin: 0 0 5px 0;
        color: dodgerblue;  
    } 
        #point {
            color: tomato;   
            font-size: 23px; 
        }

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: rgba(170, 170, 170, 0.842);
    opacity: 1; /* Firefox */
    font-size: 14px;
    }
    
:-ms-input-placeholder { /* Internet Explorer 10-11 */
color: rgba(138, 138, 138, 0.842);
}

::-ms-input-placeholder { /* Microsoft Edge */
color: rgba(138, 138, 138, 0.842);
}  

        /* <---------------RESPONSIVE WEB-------------> */

@media (max-width: 1920px) { 
    .slidebar-left {
        width: 400px;
    }
    .my-info, .change-password, .exercise-done, .my-point {
        width: 390px;
        height: 80px;
    }
    /* VI TRI 3 CHUC NANG */
        
        /* THONG TIN CA NHAN */
        .my-info {
            top: 250px;
        }

        /* DOI MAT KHAU */
        .change-password {
            top: 331px;
        }

        /* BAI TAP DA LAM */
        .exercise-done {
            top: 412px;
        }
            /* DIEM */
        .my-point {
            top: 510px;
            height: 110px;
            display: flex;
            flex-direction: column;
        }
}


@media (max-width: 1280px) { 
    .slidebar-left {
        width: 350px;
    }
    .my-info, .change-password, .exercise-done, .my-point {
        width: 340px;
    }
}
@media screen and (max-width: 320px) { 
    .slidebar-left {
        width: 305px;
    }
    .my-info, .change-password, .exercise-done, .my-point {
        width: 295px;
        height: 55px;
    }
    /* VI TRI 3 CHUC NANG */
    
        /* THONG TIN CA NHAN */
        .my-info {
            top: 250px;
        }

        /* DOI MAT KHAU */
        .change-password {
            top: 306px;
        }

        /* BAI TAP DA LAM */
        .exercise-done {
            top: 362px;
        }
            /* DIEM */
        .my-point {
            top: 430px;
            
            height: 110px;
            display: flex;
            flex-direction: column;
            border-radius: 8px;
        }
}

@media (max-width: 768px) { 
    .slidebar-left {
        top: 100px;
        left: 203px;
    }
}

@media (max-width: 375px) { 
    .slidebar-left {
        top: 0;
        left: 10px;
    }
}


